<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./src/css/site.css">
    <script src="src/lib/signalr/signalr.min.js"></script>
    <script src="src/lib/vue/vue.min.js"></script>
</head>

<body>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="list-group" id="topics">
                        <li class="list-group-item list-group-item-info" v-for="topic in topics">
                            <a href="javascript:void()" v-on:click="topicDetail(topic)">
                                {{topic.Topic}} 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="messageList">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="message in Messages">
                                {{message}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./src/components/component.js"></script>
    <script src="./src/js/hub.js"></script>
</body>

</html>